azure-ai-ml==1.19.0
azure-ai-resources==1.0.0b8
azure-search-documents==11.4.0
promptflow==1.11.0
promptflow[azure]==1.11.0
promptflow-tools==1.4.0
promptflow-evals==0.3.0
azure-identity==1.16.1
pandas==2.2.2
python-dotenv==1.0.1
jsonlines==4.0.0
promptflow.evals==0.3.0
openpyxl==3.1.5
openai<=1.44.1